.dish-img{
    width: 250px;
    object-fit: cover;
    border-radius: 10px;
    height: 200px;
    margin-bottom: 10px;
    cursor: pointer;
}

.dish-item{
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    transition: 0.4s ease-in-out;
}

.dish-item:hover{
    transform: scale(1.03);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.dish-item > h4{
    width: 200px;
}