.special-dishes{
    margin: 30px auto;
    text-align: center;
    width: 700px;
    justify-content: center;
}

.special-dishes > h2{
    margin-bottom: 20px;
}

.dish-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
}

