*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.loader{ 
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    align-items: center;
    justify-content: center;
    color: #fff;
    display: flex;
}

.alert{
    border: 1px solid red;
    border-radius: 10px;
    padding: 30px;
    width: 70%;
}